#lib
src/lib/*/pkgroot

src/lib/CLI11/CLI11*
src/lib/CLI11/*.tar.gz

src/lib/nlohmann_json/nlohmann_json
src/lib/nlohmann_json/include.zip

src/lib/libpeci/libpeci

src/lib/libpldm/libpldm

src/lib/gpioplus/gpioplus

src/lib/boost/boost*

src/lib/stdplus/stdplus

src/lib/sdeventplus/sdeventplus

src/lib/sdbusplus/sdbusplus

src/lib/phosphor-dbus-interfaces/phosphor-dbus-interfaces

src/lib/phosphor-logging/phosphor-logging

#src
src/*/pkgroot

src/bmcweb/bmcweb

src/webui-vue/webui-vue

src/phosphor-user-manager/phosphor-user-manager

src/entity-manager/GSL
src/entity-manager/entity-manager

src/phosphor-inventory-manager/phosphor-inventory-manager

src/phosphor-objmgr/phosphor-objmgr

src/phosphor-state-manager/phosphor-state-manager

src/phosphor-power/phosphor-power

src/phosphor-certificate-manager/phosphor-certificate-manager

src/phosphor-host-ipmid/phosphor-host-ipmid

src/phosphor-modbus/phosphor-modbus

src/phosphor-settingsd/phosphor-settingsd

src/phosphor-networkd/phosphor-networkd

target